/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.rnd
.env.example
.github/
.vscode/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
USIMS-documentation.txt
readme.md
